.App {
  text-align: center;
  background-color: rgb(198, 225, 242);
  display: flex;
  justify-content: center;
  align-items: center; 
  padding: 0 50px;
  height: 100%; /* Take up the full height of the parent container */
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.title {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 30px;
  background-color: rgb(198, 225, 242);
}